<TITLE>Index of /stephen.riehm/vim/vim-macro-set.1.3/Templates/</TITLE>
<h1>Index of /stephen.riehm/vim/vim-macro-set.1.3/Templates/</h1>
<PRE><IMG SRC="/mc-icons/blank.gif" ALT="     ">  Name                   Last modified     Size  Description
<HR>
<A HREF="/stephen.riehm/vim/vim-macro-set.1.3/" NAME="/stephen.riehm/vim/vim-macro-set.1.3/"><IMG SRC="/mc-icons/back.gif" ALT="[DIR]" BORDER=0>  Parent Directory</a>
<A HREF="Readme" NAME="Readme"><IMG SRC="/mc-icons/unknown.gif" ALT="[   ]" BORDER=0>  Readme</a>                 16-Jan-00 19:21     1K  
<A HREF="std.cc" NAME="std.cc"><IMG SRC="/mc-icons/unknown.gif" ALT="[   ]" BORDER=0>  std.cc</a>                 16-Jan-00 19:21     1K  
<A HREF="std.html" NAME="std.html"><IMG SRC="/mc-icons/text.gif" ALT="[TXT]" BORDER=0>  std.html</a>               16-Jan-00 19:21     1K  
<A HREF="std.man" NAME="std.man"><IMG SRC="/mc-icons/unknown.gif" ALT="[   ]" BORDER=0>  std.man</a>                16-Jan-00 19:21     1K  
<A HREF="std.pm" NAME="std.pm"><IMG SRC="/mc-icons/unknown.gif" ALT="[   ]" BORDER=0>  std.pm</a>                 16-Jan-00 19:21     3K  
<A HREF="std.sh" NAME="std.sh"><IMG SRC="/mc-icons/unknown.gif" ALT="[   ]" BORDER=0>  std.sh</a>                 16-Jan-00 19:22     1K  
